<div class="ui inverted fixed menu">
  <div class="ui secondary pointing menu ">
    <a class="item" routerLink="/home" routerLinkActive="active">
      <h2>Lagoon</h2>
    </a>
    <a class="item" routerLink="/home" routerLinkActive="active">
      Home
    </a>
    <a class="item" routerLink="/hardware-component" routerLinkActive="active">
      Hardware Overview
    </a>
  </div>
  <div class="right menu ">
    <a class="item" routerLink="/register" routerLinkActive="active" >
      Register
    </a>
    <a class="item" routerLink="/login" routerLinkActive="active" (click)="onClick()">
      Login
    </a>
  </div>
</div>
