<div class="container" >

  <div class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Welcome
        </h1>

        <h2 class="subtitle">
          Login Page
        </h2>
      </div>
    </div>
  </div>


  <div class="panel-body">
    <div class="row">
      <div class="input-field col s12">
        <label for="email" class="label">Email</label>
        <input [(ngModel)]="user.email" id="email" 
                                        type="email" class="validate">
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <label for="password" class="label">Password</label>
        <input class="input is-success" [(ngModel)]="user.password" id="password" type="password" class="validate">
      </div>
    </div>

    <span>{{errorMsg}}</span>
    <br>
    <button class="button is-info" (click)="login()" type="submit" name="action">
      Login
    </button>
  </div>
</div>
