<div class="container">
  <div class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          All Widgets
        </h1>
      </div>
    </div>
  </div>
  <br>
  <div class="panel-body" *ngFor="let widget of widgets"> 
    <div class="widget container">
      <span class="title">{{widget.type | uppercase}}</span>
      <div class="widget-data" *ngFor="let data of widget.properties">
        <p>{{data[0]}}: {{data[1]}}</p>
      </div>
    </div>
    <br>
  </div>
</div>
